[Unit]
Description=Factorio server on port %i

[Service]
EnvironmentFile=/etc/default/factorio-servers
User=factorio
Group=factorio
ExecStartPre=/usr/local/bin/pre-start-factorio ${FACTORIO_PATH} %i
ExecStart=/opt/factorio/bin/x64/factorio --config ${FACTORIO_PATH}/servers/%i/config/config.ini --start-server %i --autosave-interval $AUTOSAVE_INTERVAL --autosave-slots $AUTOSAVE_SLOTS --port %i
TimeoutStopSec=10
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
